<h1>Add a New Volunteer</h1>

<form action="/volunteers" method="POST">
  <label> Volunteer </label>
  <input type="text" name="name"> </br>

  <label> Interest </label>
  <input type="text" name="interest"> </br>

  <input type="submit" value="Create Volunteer">
</form>
