<h2>Tasks</h2>

<% @tasks.each do |task| %>
  Task Name:  <%= task.name %></br>
  Task Description:  <%= task.description %> </br>
  Task Volunteer:  <%= task.volunteer_id %> </br>
  <a href="/tasks/<%=task.id%>/edit">Edit</a>
  </br>
  </br>
<% end %>
