<h1>Volunteer Management</h1>

<h2>Keep track of your volunteers and their assigned tasks!</h2>

<p>Guidelines</p>

<ul>
<li>Volunteers are permanently assigned to the mentor who created them</li>
<li>Only the mentor can edit or delete them</li>
</ul>
<ul>
<li>Tasks can be created by mentors for their volunteers</li>
<li>Any mentor can edit a task and reassign it to one of their volunteers</li>
<li>Only a volunteer's mentor can delete their task</li>
</ul>
