<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Management</title>
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  </head>

  <body>
    <nav>
      <% if logged_in? %>

        <a href="/volunteers/new"> Create Volunteer </a>  |
        <a href="/tasks/new"> Create Task </a>  |
        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.username %></p>

      <% else %>
        <a href="/">Home</a>  |
        <a href="/signup">Sign Up</a>  |
        <a href="/login"> Sign In </a>
      <%end %>

    </nav>
    <%= yield %>
  </body>
</html>
